<head>
	<meta charset="UTF-8">
	<title>Mike Lacourse | Web Design | Development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="My clients love me because I'm easy to work with and I do great work. I’m able to keep costs down by running a small shop while offering professional, agency level work.">
	<meta name="author" content="Mike Lacourse">

	<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/plugins.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/format.css">
	<link rel="shortcut icon" href="{{ site.baseurl }}/static/images/fav.ico">
	
	<script>
		// Load saved color scheme
		var inverted = document.cookie.split('=');
		if (inverted[1] == 'true') {
			document.body.className = 'inverted';
			switches = document.getElementsByClassName("light-switch");
			for (index = 0; index < switches.length; ++index) {
				switches[index].innerHTML = "Off";
			}
		}
	</script>
</head>