<head>
	<meta charset="UTF-8">
	<title>Mike Lacourse - Designer / Web Developer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="My clients love me because I'm easy to work with and I do great work. I’m able to keep costs down by running a small shop while offering professional, agency level work.">
	<meta name="author" content="Mike Lacourse">

	<!-- Web Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/magnific-popup.css">

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/icons/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/icons/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/icons/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/icons/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="{{ site.baseurl }}/static/images/fav.ico">

</head>